{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:url('edit', ['id' => $_id])}">
		
			{$widget->form('text', ['title' => '配置名称', 'name' => 'config_name', 'value' => $_record['config_name']])}
			
			{$widget->form('text', ['title' => '配置标题', 'name' => 'config_title', 'value' => $_record['config_title']])}
			
			{$widget->form('select', ['title' => '配置类型', 'name' => 'config_type', 'value' => $_record['config_type'], 'list' => $select_config_type])}
			
			{$widget->form('select', ['title' => '配置分组', 'name' => 'config_gid', 'value' => $_record['config_gid'], 'list' => $select_config_group])}
			
			{$widget->form('text', ['title' => '配置排序', 'name' => 'config_sort', 'value' => $_record['config_sort']])}
			
			{$widget->form('textarea', ['title' => '额外配置', 'name' => 'config_extra', 'value' => $_record['config_extra']])}
			
			{$widget->form('textarea', ['title' => '配置说明', 'name' => 'config_remark', 'value' => $_record['config_remark']])}
			
			{$widget->form('submit', ['title' => '用户操作'])}
			
		</form>
	</div>
</div>
{/block}