{extend name="common/base" }

{block name="style"}
<style type="text/css">
.nd-group-select{
	color: #3bb4f2 !important;
}
</style>
{/block}

{block name="content"}
<div class="am-g tpl-toolbar">
	<div class="am-u-sm-12 am-u-md-6">
		<div class="am-btn-toolbar">
			<div class="am-btn-group am-btn-group-xs">
				<a class="am-btn am-btn-default" href="{:url('add')}">
					<span class="am-icon-plus"></span> 新增
				</a>
				<a class="am-btn am-btn-default nd-refresh">
					<span class="am-icon-refresh"></span> 刷新
				</a>
			</div>
		</div>
	</div>
	<div class="am-u-sm-12 am-u-md-6">
		<div class="am-btn-toolbar am-fr">
			<div class="am-btn-group am-btn-group-xs nd-group-menu">
				{volist name="select_config_group" id="vo"}
				<a class="am-btn am-btn-default {eq name='gid' value='$vo.value'}nd-group-select{/eq}" href="{:url('index', ['gid' => $vo['value']])}">
					{$vo.name}
				</a>
				{/volist}
			</div>
		</div>
	</div>
</div>

<div class="am-g">
	<div class="am-u-sm-12">

		<table class="am-table am-table-striped am-table-radius am-table-bordere nd-sorted-table" sort-action="{:url('sort')}">
			<thead>
				<tr>
					<th>配置名称</th>
					<th>配置标题</th>
					<th>配置类型</th>
					<th>配置分组</th>
					<th>配置排序</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="_list" id="vo"}
				<tr class="nd-sorted-item" data-id="{$vo.id}">
					<td class="am-text-middle">
						<span class="am-icon-list-ul nd-sorted-handle"></span>
						{$vo.config_name}
					</td>
					<td class="am-text-middle">{$vo.config_title}</td>
					<td class="am-text-middle">{$vo.config_type}</td>
					<td class="am-text-middle">
						{$widget->row('select', ['value' => $vo['config_gid'], 'list' => $select_config_group,'url' => url('modify', ['id' => $vo['id'], 'field' =>  'config_gid'])])}
					</td>
					<td class="am-text-middle">{$vo.config_sort}</td>
					<td class="am-text-middle">
						<div class="am-btn-toolbar">
							<div class="am-btn-group am-btn-group-xs">
								{$widget->row('button', ['title' => '编辑', 'class' => 'am-text-secondary', 'icon' => 'am-icon-pencil-square-o', 'url' => url('edit', ['id' => $vo['id']])])}
                                {$widget->row('button', ['title' => '删除', 'class' => 'am-text-danger ajax-get ajax-confirm', 'icon' => 'am-icon-trash-o', 'url' => url('delete', ['id' => $vo['id']])])}
                            </div>
						</div>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>

	</div>
</div>
{/block}