<footer>
	<div id="footer">
		<div class="cd-tool visible-lg text-center">
			<a rel="nofollow" class="cd-gb-a" href="http://cms.newday.me">
				<span class="fa fa-book"></span>
			</a>
			<a id="weixin-img" class="cd-weixin">
				<span class="fa fa-qq"></span>
				<div id="weixin-pic"><img src="http://static.newday.me/cms/qq.jpg"></div>
			</a>
			<a class="cd-top cd-is-visible cd-fade-out"><span class="fa fa-chevron-up"></span></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 footer-list text-center">
					<p>
						Copyright <a href="http://www.newday.me"> NewDay </a> All Rights Reserved
					</p>
					<p>
						<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802004255">浙ICP备13001290号</a>， UI power by <a href="https://www.vtrois.com" target="_blank"> Vtrois </a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>