{extend name="common/base" }

{block name="style"}
<style type="text/css">
.nd-group-select{
	color: #0062F9 !important;
}
</style>
{/block}

{block name="content"}
<form action="{:url('index')}" class="search-form">
	<div class="am-g">
	
		<div class="am-u-sm-12 am-u-md-3">
			<div class="am-btn-toolbar">
				<div class="am-btn-group am-btn-group-xs">
					<a class="am-btn am-btn-default nd-refresh">
						<span class="am-icon-refresh"></span> 刷新
					</a>
				</div>
			</div>
		</div>
		
		{$widget->search('select', ['name' => 'uid', 'value' => $uid, 'list' => $select_login_user])}
		
		{$widget->search('date', ['name' => 'start_time', 'holder' => '开始日期', 'value' => $start_time])}
		
		{$widget->search('date', ['name' => 'end_time', 'holder' => '结束日期', 'value' => $end_time])}
	
		{$widget->search('keyword', ['name' => 'keyword', 'holder' => '关键词', 'value' => $keyword, 'md_num' => 3])}
	</div>
</form>

<div class="am-g">
	<div class="am-u-sm-12">
	
		<table class="am-table am-table-striped am-table-radius am-table-bordered">
			<thead>
				<tr>
					<th>登录用户</th>
					<th>客户端IP</th>
					<th>浏览器标识</th>
					<th>登录时间</th>
				</tr>
			</thead>
			<tbody>
			{volist name="_list" id="vo"}
				<tr>
					<td class="am-text-middle">{$vo.user_nick}</td>
					<td class="am-text-middle">{$vo.login_ip}</td>
					<td class="am-text-middle">{$vo.login_agent}</td>
					<td class="am-text-middle">{$vo.create_time}</td>
				</tr>
			{/volist}
			</tbody>
		</table>
		
		{if condition="!empty($_page)"}
			<div class="am-fl">共 {$_total} 条记录</div>
			<div class="am-fr">
				{$_page}
			</div>
		{/if}
		
	</div>
</div>
{/block}