{extend name="common/base"}

{block name="content"}
<section id="main" class="col-md-8">
	<article>
		<div class="kratos-hentry kratos-post-inner clearfix">
			<header class="kratos-entry-header">
				<h1 class="kratos-entry-title text-center">{$article.article_title}</h1>
				<div class="kratos-post-meta text-center">
					<span>
						<i class="fa fa-calendar"></i> {$article.create_time_str} 
						<i class="fa fa-eye"></i> {$article.article_visit} Views
						<i class="fa fa-tags"></i>
					{volist name="$article->tags" id="vo"}
						<a href="{:url('blog/index/tag', ['name' => $vo['tag_name']])}" rel="tag">{$vo.tag_name}</a>
					{/volist}
					</span>
				</div>
			</header>
			<div class="kratos-post-content">
				{$article.article_content}	
			</div>
		</div>
	</article>
</section>
{/block}