{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:url('edit', ['id' => $_id])}">
		
			{$widget->form('text', ['title' => '菜单名称', 'name' => 'menu_name', 'value' => $_record['menu_name']])}
		
			{$widget->form('text', ['title' => '菜单链接', 'name' => 'menu_url', 'value' => $_record['menu_url']])}
			
			{$widget->form('select', ['title' => '上级菜单', 'name' => 'menu_pid', 'value' => $_record['menu_pid'], 'list' => $select_menu_list])}
			
			{$widget->form('text', ['title' => '菜单排序', 'name' => 'menu_sort', 'value' => $_record['menu_sort']])}
			
			{$widget->form('select', ['title' => '打开方式', 'name' => 'menu_target', 'value' => $_record['menu_target'], 'list' => $select_menu_target])}
			
			{$widget->form('select', ['title' => '是否Build', 'name' => 'menu_build', 'value' => $_record['menu_build'], 'list' => $select_menu_build])}
			
			{$widget->form('select', ['title' => '菜单状态', 'name' => 'menu_status', 'value' => $_record['menu_status'], 'list' => $select_menu_status])}
			
			{$widget->form('submit', ['title' => '用户操作'])}
			
		</form>
	</div>
</div>
{/block}