{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:module_url('edit', ['id' => $_id])}">
		
			{$widget->form('text', ['title' => '文章标题', 'name' => 'article_title', 'value' => $_record['article_title']])}
			
			{$widget->form('select', ['title' => '文章分类', 'name' => 'article_cate[]', 'value' => $_record['article_cates'], 'list' => $select_cate_list, 'attr' => 'multiple'])}
			
			{$widget->form('text', ['title' => '文章作者', 'name' => 'article_author', 'value' => $_record['article_author']])}
			
			{$widget->form('tag', ['title' => '文章标签', 'name' => 'article_tags', 'value' => $_record['article_tags']])}
			
			{$widget->form('textarea', ['title' => '文章简介', 'name' => 'article_info', 'value' => $_record['article_info']])}
			
			{$widget->form('image', ['title' => '文章封面', 'name' => 'article_cover', 'value' => $_record['article_cover'], 'width' => 600])}
			
			{$widget->form('select', ['title' => '文章状态', 'name' => 'article_status', 'value' => $_record['article_status'], 'list' => $select_article_status])}
			
			{$widget->form('editor', ['title' => '文章内容', 'name' => 'article_content', 'value' => $_record['article_content']])}
			
			{$widget->form('textarea', ['title' => '原文链接', 'name' => 'article_origin', 'value' => $_record['article_origin']])}
			
			{$widget->form('text', ['title' => '文章排序', 'name' => 'article_sort', 'value' => $_record['article_sort']])}
			
			{$widget->form('date', ['title' => '发布时间', 'name' => 'create_time', 'value' => $_record['create_time']])}
			
			{$widget->form('submit', ['title' => '用户操作'])}
			
		</form>
	</div>
</div>
{/block}