{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:url('add')}">
			
			{$widget->form('text', ['title' => '登录名称', 'name' => 'user_name', 'value' => ''])}
			
			{$widget->form('text', ['title' => '用户昵称', 'name' => 'user_nick', 'value' => ''])}
			
			{$widget->form('text', ['title' => '登录密码', 'type' => 'password', 'name' => 'user_passwd', 'value' => ''])}
			
			{$widget->form('text', ['title' => '重复密码', 'type' => 'password', 'name' => 'user_passwd_confirm', 'value' => ''])}
			
			{$widget->form('select', ['title' => '所属群组', 'name' => 'user_gid', 'value' => '', 'list' => $select_user_group])}
			
			{$widget->form('select', ['title' => '用户状态', 'name' => 'user_status', 'value' => '', 'list' => $select_user_status])}
			
			{$widget->form('submit', ['title' => '用户操作'])}

		</form>
	</div>
</div>
{/block}